@model ShareTradingModel.PersonalDetail

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    Address1
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Address1)
    @*@Html.DropDownListFor(model => model.Address1ID, ((IEnumerable<ShareTradingModel.Address>)ViewBag.PossibleAddress1).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.Address1ID)
    }), "Choose...")*@
    @*@Html.ValidationMessageFor(model => model.Address1ID)*@
</div>
<div class="editor-label">
    Address2
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Address2)
    @*@Html.DropDownListFor(model => model.Address2ID, ((IEnumerable<ShareTradingModel.Address>)ViewBag.PossibleAddress2).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.Address2ID)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.Address2ID)*@
</div>
